<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index_css.css') }}">
    <title>Dự đoán đánh giá của người dùng Thế Giới Di Động</title>
</head>
<body>
    <div class="header">
        <div class="header__narvigation">
            <ul class="header__narvigation-left">
                <li onclick="view_data()">
                    Tải tập dữ liệu
                </li>
                <li onclick="view_source()">
                    Source code
                </li>
            </ul>
            <ul class="header__narvigation-right">
                <li id="view_detail_contact">
                    Thông tin liên hệ
                    <ul class="view_contact">
                        <li>hienb1812267@student.ctu.edu.vn</li>
                        <li>duyb1812256@student.ctu.edu.vn</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <h1 class="content__topTopic">Mô hình dự đoán đánh giá người dùng Thế Giới Di Động</h1>
        <hr>
        <form action="/predict" method="POST" class="content__formInput">
            <label for="input_name">Tên người dùng</label>
            <input type="text" id="input_name", name="input_name">
            <label for="input_comment">Bình luận</label>
            <textarea name="input_comment" id="input_comment" cols="50" rows="3" required></textarea>
            <button type="submit" id="add_comment">Dự đoán</button>
        </form>
        <div style="overflow-y: auto; height: 60vh;">
            <table border="solid" style="width: 100%;" class="content__table">
                <thead>
                    <tr>
                        <th class="table__name">Tên người dùng</th>
                        <th class="table__content">Nội dung</th>
                        <th class="table__predict">Đánh giá</th>
                    </tr>
                </thead>
                <tbody id="table__body">
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
<script type="text/javascript">

    function view_source() {
        window.open("https://github.com/HienB1812267/sentiment-analysis-tgdd", "_blank");
    }

    $(document).ready(function() {
        firebase.initializeApp({
            apiKey: "AIzaSyDhpFRiDvSe5u7cehOMJG9RNSMd5dvWHKg",
            authDomain: 'sentiment-prediction-tgdd.firebaseapp.com',
            projectId: 'sentiment-prediction-tgdd'
        });
        var db = firebase.firestore();
        db.collection("data").get().then((querySnapshot) => {
            var tbody = document.getElementById("table__body")
            querySnapshot.forEach((doc) => {
                var data = doc.data();
                var tr = document.createElement("tr");
                if (data.logis_tf == 1) 
                    tr.className = "table__good";
                else 
                    tr.className = "table__bad";
                tbody.appendChild(tr);
                var name = document.createElement("td");
                name.innerHTML = data.username
                tr.appendChild(name);
                var comment = document.createElement("TD");
                comment.innerHTML = data.comment;
                comment.style.fontWeight = "bold";
                comment.style.textAlign = "left";
                tr.appendChild(comment);
                var predict = document.createElement("TD");
                if (data.logis_tf == 1)
                    predict.innerHTML = "Đánh giá tốt";
                else
                    predict.innerHTML = "Đánh giá tệ";
                tr.appendChild(predict);
            });
        });

        $('#add_comment').on('submit', function(e) {
            $.ajax({
                url: "{{ url_for('predict_star')}}",
                type: "POST",
                success: function(q) {
                    alert(q);
                },
                error: function(q) {
                    alert("error");
                }
            });
            e.preventDefault();
        });
    });

    function view_data() {
        var link = document.createElement("a");
        link.download = "{{ url_for('static', filename='data_TGDD.json') }}";
        link.href = "{{ url_for('static', filename='data_TGDD.json') }}";
        link.click()
    }

</script>
</html>