<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index_css.css') }}">
    <title>Dự đoán đánh giá của người dùng Thế Giới Di Động</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="header__narvigation">
            <ul class="header__narvigation-left">
                <li onclick="view_data()">
                    Tải tập dữ liệu
                </li>
                <li onclick="view_source()">
                    Source code
                </li>
            </ul>
            <ul class="header__narvigation-right">
                <li id="view_detail_contact">
                    Thông tin liên hệ
                    <ul class="view_contact">
                        <li>hienb1812267@student.ctu.edu.vn</li>
                        <li>duyb1812256@student.ctu.edu.vn</li>
                        <li>duyb1812257@student.ctu.edu.vn</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <h1 class="title">Mô hình dự đoán đánh giá người dùng Thế Giới Di Động</h1>
    <div class="content">
        <form class="content__formInput" id="form_predict">
            <div class="form-group">
                <label for="input_name">Tên người dùng</label>
                <input type="text" id="input_name" , name="input_name">
            </div>
            <div class="form-group">
                <label for="input_comment">Bình luận</label>
                <textarea name="input_comment" id="input_comment" cols="50" rows="3"></textarea>
            </div>
            <button type="button" id="add_comment"><span class="du_doan">Dự đoán</span><span class="dang_du_doan">Đang
                    dự đoán...</span></button>
        </form>

        <div class="indicator">

        </div>
        <p class="use-file">
            📁 Hoặc dùng file để dự đoán
        </p>

        <div class="file-upload">
            <div class="file-upload__warpper">
                <input type="file" accept=".csv" id="file__input" draggable="true">
                <p>Click vào khu vực này để tải file</p>
                <p id='file__name'></p>
            </div>
            <button type="button" id="file__button"><span class="du_doan_file">Dự đoán</span><span
                    class="dang_du_doan_file">Đang dự đoán...</span></button>
        </div>
        <div id="result">
            <h2 id="result__predict"></h2>
            <p id="result__name"></p>
            <p id="result__comment"></p>
            <p id="result__model"></p>
        </div>
        <div id="result__table">
            <h2 id="result-table__predict"></h2>
        </div>
        <details>
            <summary onclick="on_off(this)" style="cursor: pointer; font-size: 18px; padding: 5px;">Hiện bảng</summary>
            <div class="content">
                <table class="content__table">
                    <thead>
                        <tr>
                            <th class="table__name">Tên người dùng</th>
                            <th class="table__content">Nội dung</th>
                            <th class="table__predict">Đánh giá</th>
                        </tr>
                    </thead>
                    <tbody id="table__body">
                    </tbody>
                </table>
            </div>
        </details>
    </div>
</body>
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
<script type="text/javascript">

    //  Du doan nhap
    var dang_du_doan = document.querySelector(".dang_du_doan");
    dang_du_doan.style.display = "none";
    var du_doan = document.querySelector(".du_doan");

    // Du doan cho file
    var dang_du_doan_file = document.querySelector(".dang_du_doan_file");
    dang_du_doan_file.style.display = "none";
    var du_doan_file = document.querySelector(".du_doan_file");



    function view_source() {
        window.open("https://github.com/HienB1812267/sentiment-analysis-tgdd", "_blank");
    }

    firebase.initializeApp({
        apiKey: "AIzaSyDhpFRiDvSe5u7cehOMJG9RNSMd5dvWHKg",
        authDomain: 'sentiment-prediction-tgdd.firebaseapp.com',
        projectId: 'sentiment-prediction-tgdd'
    });

    function on_off(tag) {
        if (tag.innerText == "Hiện bảng")
            tag.innerText = "Ẩn bảng";
        else
            tag.innerText = "Hiện bảng";
    }

    function render() {
        var db = firebase.firestore();
        db.collection("data").get().then((querySnapshot) => {
            var tbody = document.getElementById("table__body")
            querySnapshot.forEach((doc) => {
                var data = doc.data();
                var tr = document.createElement("tr");
                if (data.logis_tf == 1)
                    tr.className = "table__good";
                else
                    tr.className = "table__bad";
                tbody.appendChild(tr);
                var name = document.createElement("td");
                name.innerHTML = data.username
                tr.appendChild(name);
                var comment = document.createElement("TD");
                comment.innerHTML = data.comment;
                comment.style.fontWeight = "bold";
                comment.style.textAlign = "left";
                tr.appendChild(comment);
                var predict = document.createElement("TD");
                if (data.logis_tf == 1)
                    predict.innerHTML = "Đánh giá tốt  👍 ";
                else
                    predict.innerHTML = "Đánh giá tệ 👎";
                tr.appendChild(predict);
            });
        });
    }

    $(document).ready(function () {
        render()
    });

    function csvToArray(str, delimiter = ",") {
        // slice from start of text to the first \n index
        // use split to create an array from string by delimiter
        const headers = str.slice(0, str.indexOf("\n")).split(delimiter);

        // slice from \n index + 1 to the end of the text
        // use split to create an array of each csv value row
        const rows = str.slice(str.indexOf("\n") + 1).split("\n");

        // Map the rows
        // split values from each row into an array
        // use headers.reduce to create an object
        // object properties derived from headers:values
        // the object passed as an element of the array
        const arr = rows.map(function (row) {
            const values = row.split(delimiter);
            const el = headers.reduce(function (object, header, index) {
                object[header] = values[index];
                return object;
            }, {});
            return el;
        });

        // return the array
        return arr;
    }

    function view_data() {
        var link = document.createElement("a");
        link.download = "{{ url_for('static', filename='data_TGDD.json') }}";
        link.href = "{{ url_for('static', filename='data_TGDD.json') }}";
        link.click()
    }
    submit_button = document.getElementById("add_comment");
    submit_button.onclick = async function () {
        var name = document.getElementById("input_name");
        var comment = document.getElementById("input_comment");
        if (!comment.value) {
            alert("Vui lòng nhập dữ liệu vào phần bình luận")
        }
        else {
            var entry = [{
                name: name.value,
                comment: comment.value
            }, { name: "123", comment: "321" }];

            // Loading          
            dang_du_doan.style.display = 'block';
            du_doan.style.display = 'none';

            var res = await fetch("/predict", {
                method: "POST",
                body: JSON.stringify(entry),
                headers: new Headers({
                    "content-type": "application/json"
                })
            })

            var output = await res.json();
            output = output['result'][0]
            var get_tag_result__predict = document.getElementById("result__predict");
            get_tag_result__predict.innerText = 'Đánh giá của bạn:';
            var get_tag_name = document.getElementById("result__name");
            get_tag_name.innerText = `Tên người dùng: ${output['name']}`;
            var get_tag_comment = document.getElementById("result__comment");
            get_tag_comment.innerText = `Nội dung bình luận: ${output['comment']}`;
            var get_tag_result_model = document.getElementById("result__model");
            get_tag_result_model.innerText = `Kết quả: ${output['result']}`;

            dang_du_doan.style.display = 'none';
            du_doan.style.display = 'block';

            render()
        }
    }

    file_button = document.getElementById("file__button")
    var file__input = document.getElementById("file__input")
    var input;
    file__input.onchange = function (e) {
        input = e.target.files[0];
        var file__name = document.getElementById('file__name');
        file__name.innerHTML = `${input.name} (${input.size/1000} kB)`;
    }

  
    file_button.onclick = async function () {
        // e.preventDefault();       
        if (!input)
            alert("File không được để trống, file phải là định dạng csv");
        else {
            var entry = []
            var data
            const reader = new FileReader();

            reader.onload = async function (e) {
                const text = e.target.result;
                data = csvToArray(text, '\t');
                if (!data[data.length - 1]['name'])
                    data.pop();

                // Loading
                dang_du_doan_file.style.display = 'block';
                du_doan_file.style.display = 'none';

                var res = await fetch("/predict", {
                    method: "POST",
                    body: JSON.stringify(data),
                    headers: new Headers({
                        "content-type": "application/json; charset=utf-8"
                    })
                })
                var output = await res.json();

                dang_du_doan_file.style.display = 'none';
                du_doan_file.style.display = 'block';


                output = output['result'];
                // console.log(output)
                var get_tag_result_table__predict = document.getElementById("result-table__predict");
                get_tag_result_table__predict.innerText = 'Kết quả đánh giá:';
                var result_table = document.getElementById("result__table");
                var table = document.createElement("table");
                result_table.appendChild(table);
                var thead = document.createElement("thead");
                table.appendChild(thead);
                var tr = document.createElement("tr");
                thead.appendChild(tr);
                var th = document.createElement("th");
                th.innerText = "Tên Người Dùng";
                tr.appendChild(th)
                th = document.createElement("th");
                th.innerText = "Bình luận";
                tr.appendChild(th)
                th = document.createElement("th");
                th.innerText = "Dự đoán";
                tr.appendChild(th)
                var tbody = document.createElement("tbody")
                table.appendChild(tbody)
                for (var line of output) {
                    var tr = document.createElement("tr")
                    var td = document.createElement("td");
                    td.innerText = line['name']
                    tr.appendChild(td)
                    td = document.createElement("td");
                    td.innerText = line['comment']
                    tr.appendChild(td)
                    td = document.createElement("td");
                    td.innerText = line['result']
                    tr.appendChild(td)
                    tbody.appendChild(tr)
                }
                render()
            }
            reader.readAsText(input);

        }
    }

</script>
{% endblock %}

</html>